/* Fargpalett fra mørkest til lysest
#12372A
#436850
#ADBC9F
#FBFADA */
body{
    margin:0;
    padding: 0;
    height:100vh;
}
header, footer{
    background-color: #12372A;
    color: #FBFADA;
}
header{
    height:15vh;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:10vh;
    color:#FBFADA
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%
}

nav li{
    list-style: none;
}
nav ul{
    display: flex;
    gap:15px
}
nav a{
    text-decoration: none;
    color:#FBFADA;
    font-size: 1.3rem;
    transition:0.6s;
}
nav a:hover{
    color: #ADBC9F;
}

main{
    display:flex;
    height:80vh;;
}
.velkomst{
    flex-basis:150px;
    flex-grow:1;
    background-color: #436850;
    padding:15px 30px;
}
.velkomst img{
    width:70%;
    margin-left:15%;
}
.tilbud{
    flex-grow:4;
    padding:15px 30px;
    background-color: #ADBC9F;
}

@media (max-width: 790px){
    .header-container{
        flex-direction: column;
    }
    .header-container h1{
        margin-bottom:0;
    }

}