body{
    background-color: beige;
    margin: 0;
}
header{
    background-color: aquamarine;
    /* margin: 0px; */
    padding:20px;
}
.logo {
    width: 60px;
    height:auto;
}
/* # for å velge id */
#header-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
}